body {
    background: rgb(208, 240, 172);
    background: linear-gradient(
      90deg,
      rgb(243, 239, 242) 0%,
      rgb(156, 149, 153) 54%,
      rgb(97, 83, 97) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: sans-serif;
  }
  
  h1 {
    color: white;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 30px;
    padding: 30px;
    padding-bottom:10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(228, 218, 218, 0.5);
  }
  
  .img-container {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    width: 90%;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
  }
  
  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }
  
  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }
  
  .stat-container {
   
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }

  .height{
    font-size: 1em;
  }
